
body {
    margin: auto;
    width: 640px;
    padding: 50px;
    font-family: 'Avenir', sans-serif;
    color: #33475b;
}
img{
    padding: 10px;
}
.topright{
    text-align: end;
     margin-top: 30px; 
}
.topright{
    text-align:end;
    margin-right:70px;
}
